<!--div class="row">
    <div class="col-lg-10">
        <center>
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777"></rect>
                <text y="50%" fill="#FFF"dy=".3em">{{e.fecha}}</text>
            </svg>

            <p><strong>{{e.titulo}}</strong></p>
            <p><strong>Categoria: </strong>{{e.categoria}}</p>    
        
            <p><a class="btn btn-secondary" href="{% url 'detalleEventos' e.id %}">Ver Detalle</a></p>
        </center>        
    </div>   
</div-->

<style>
    .card-header:first-child {
        border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
        background: #024d92;
        color: #ffffff;
    }
    .btn-secondary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #024d92;
        --bs-btn-border-color: #024d92;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #8f8f2d;
        --bs-btn-hover-border-color: #8f8f2d;
        --bs-btn-focus-shadow-rgb: 130,138,145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #565e64;
        --bs-btn-active-border-color: #51585e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #6c757d;
        --bs-btn-disabled-border-color: #6c757d;
    }
</style>

<div class="col">  

    <div class="card mb-4 rounded-3 shadow-sm">
        
      <div class="card-header py-3">
        <h1 class="my-0 fw-normal"><center>{{ e.fecha }}</center></h1>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title">{{ e.titulo }}</h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li><p>{{ e.desc }}</p></li>
          <li><p><strong>Categoría:   </strong>{{ e.categoria }}</p></li>
        </ul>
        <br>         
        <p><a class="btn btn-secondary" href="{% url 'detalleEventos' e.id %}">Ver mas detalles</a></p>    
      </div>
    </div>
</div>
