<a class="app-header__logo" href="{% url 'home' %}">Fundación Pueblo</a>
            <!-- Sidebar toggle button-->
            <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">
                <!--Notification Menu-->
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                </li>
                <!-- User Menu-->
                <li class="dropdown">
                    {% if user.is_authenticated %}
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a> 
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg"></i> Salir</a>
                        </li>    
                    </ul>
                    {% else %}
                    <a class="app-nav__item" href="{% url 'login' %}" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>                       
                    {% endif %}	
                </li>
            </ul>