{% extends "base/base_generic.html" %}

{% block title %}<title>Inicio</title>{% endblock %}

{% block content %}
<main>

  <div class="px-4 pt-4 mt-4 text-center bienvenidos">
    {% load static %}
    <img class="d-block mx-auto mb-4" src="{% static 'img/logoSINFONDO.png' %}" alt="" width="500" height="600">
    <h1 class="display-5 fw-bold color-blue">Bienvenidos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Somos Fundación Pueblo<br>
      Una entidad que fue creada en el año 2012 y que tiene como objetivo llevar adelante
      diferentes actividades para la comunidad de Barranqueras.</p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class=" col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/mision.jpg' %}" class="img-thumbnail d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
         <!--tarjeta 1-->
         <div class="col-lg-12 col-md-12 mb-4">
          <div class="card-section border rounded p-3">
            <div class="card-header-first rounded pb-5">
                <h2 class="card-header-title text-white pt-3 text-center">Misión</h2>
            </div>
            <div class="card-body text-center">
                <p class="card-text mt-3">Generar espacios que permitan a los ciudadanos desarrollar sus capacidades de
                  investigación, reflexión, formulación, ejecución y control de proyectos educativos,
                  culturales, deportivos, ambientales, productivos, económicos, fiscales, laborales y
                  comunitarios para el desarrollo local, la inclusión social y la igualdad de género en
                  vinculación con las Tecnologías de la Información y la Comunicación.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class=" col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/vision.jpg' %}" class="img-thumbnail d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
         <!--tarjeta 2-->
         <div class="col-lg-12 col-md-12 mb-4">
          <div class="card-section border rounded p-3">
            <div class="card-header-first rounded pb-5">
                <h2 class="card-header-title text-white pt-3 text-center">Visión</h2>
            </div>
            <div class="card-body text-center">
                <p class="card-text mt-3">Lograr la eliminación de la pobreza, el analfabetismo, el desempleo y la contaminación ambiental
                  para que exista una verdadera igualdad social, política y
                  económica en las comunidades.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class=" col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Nuestros Representantes</h1>
        <p class="lead">◦ Presidente: Mariana Gómez</p>
        <p class="lead">◦ Tesorero: Emmanuel Ojeda</p>
        <p class="lead">◦ Secretaria: Ethel Gómez</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class=" col-xxl-12 px-4 pt-5 container">
    <div class="row">
      <div class="col xxl-3">
        <div class="d-inline p-2">
          <div class="d-inline">
            <a class="lead sinsub"
              href="https://www.google.com.ar/maps/place/Av.+Espa%C3%B1a+395,+H3503+Barranqueras,+Chaco/@-27.4860315,-58.9562206,17z/data=!3m1!4b1!4m5!3m4!1s0x944572cde861393d:0xcdda960dff8f3f4c!8m2!3d-27.4860363!4d-58.9540319?hl=en"
              target="_blank">
              <i class="bi bi-geo-alt" style="margin-left: -30px;"></i>
              Av. España 395, Barranqueras, Chaco
              <br>
              <small class="ml-2 pl-2"> </small> </a>
          </div>
        </div>
      </div>

      <div class="col xxl-3">
        <div class="d-inline p-2"><a class="lead" href="mailto:fundacionpueblochaco@gmail.com"><i
              class="bi bi-envelope-paper-fill"></i> E-mail </a></div>
      </div>
      <div class="col xxl-3">
        <div class="d-inline p-2"><a class="lead" href="https://www.facebook.com/fundacion.pueblo/" target="_blank"><i
              class="bi bi-facebook"></i> Facebook
          </a></div>
      </div>
      <div class="col-auto xxl-3">
        <div class="d-inline p-2 ml-auto"><a class="lead" href="https://www.instagram.com/fundacion.pueblo/?hl=es-la/"
            target="_blank"><i class="bi bi-instagram"></i> Instagram </a></div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>
{% endblock %}