{% extends "base/base_generic.html" %}

{% block title %}<title>Calendario de Eventos</title>{% endblock %}
{% block content %}

  <div class="row">	
    <div class="blog-main">
        <div class="row mb-2">
            {% for e in lista_eventos %}
                <div class="col-md-3">
                    {% include "eventos/includes/bloque_eventos.html" %}
                </div>
            {% empty %}
                <li>No existen Eventos</li>	
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="row">            
            {% include "eventos/includes/paginador.html" %}
        </div>

    </div>
</div>

{% endblock %}
</body>