{% extends "base/base_generic.html" %}

{% block title %}<title>Calendario de Eventos</title>{% endblock %}
{% block content %}
<!--
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Eventos:</strong> {{ num_evento }}</li>
    <li><strong>Cant eventosUsuarios:</strong> {{ num_eventoUsuario }}</li>
    <li><strong>Cant eventos gratuitos:</strong> {{ num_instances_available }}</li>
  </ul>-->

  <div class="row">	
    <div class="blog-main">
        <div class="row mb-2">
            {% for e in lista_eventos %}
                <div class="col-md-3">
                    {% include "eventos/includes/bloque_eventos.html" %}
                </div>
            {% empty %}
                <li>No existen Eventos</li>	
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="row">
            
            {% include "eventos/includes/paginador.html" %}
        </div>

    </div>
</div>

{% endblock %}
</body>