{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>fundacionpueblo</title>
    </head>
    <body>
        <h1>FUNDACIÓN PUEBLO</h1>
        <img src="{% static 'img/logo.jpg' %}">
        <div>
            <h2>¿Quiénes somos?</h2>
        <p>
            Somos una entidad que fue creada en el año 2012 y que tiene como objetivo llevar adelante diferentes actividades para la comunidad de Barranqueras.
        </p>
    </div>
    <div>
        <a href="2022/august/"><h1>Nuestas actividades</a></h1><br>        
            </div> 
        
        <div>
             <a href="conocenos">Conocenos</a><br>
        <p>Seguinos en nuestras redes sociales:
        </p>
             <a href="https://www.facebook.com/fundacion.pueblo/">Facebook</a><br>
                <a href="https://www.instagram.com/fundacion.pueblo/?hl=es-la/">Instagram</a><br>
                    <a href="contactanos">Contactanos</a>
    </div>      
    </body>
</html>

